*{
	margin: 0;
	padding: 0;
}
html,
body{
	overflow: hidden;
}
.container{
	position: relative;
}
a{
	text-decoration: underline;
	color: #02bed9;
}
.clearfix:after{
	content: "";
	display: block;
	overflow: hidden;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*结构*/
.login {
	width: 31%;
	max-width: 450px;
	height: 48%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 30px 60px;
	opacity: 1;
	z-index: 200;
}
.brand{
	margin: 0 auto;
	width: 90%;
}
.login-form {
	width: 90%;
	margin: 13px auto 0;
	color: #fff;
}
/*----sub_div------*/
.brand img{
	width: 100%;
	height: 100%;
}
.form-control {
	width: 80%;
	background: #989898;
	height: 38px;
	color: #01bedc;
	-moz-border:1px solid rgba(255,250,250,.8);
	-moz-background: rgba(250,250,250,.8);
	border:1px solid rgba(250,250,250,.8);
	background: rgba(250,250,250,.8);
	-o-border:1px solid rgba(250,250,250,.8);
	-o-background: rgba(250,250,250,.8);
	-ms-border:1px solid rgba(250,250,250,.8);
	-ms-background: rgba(250,250,250,.8);
	filter:alpha(opacity=80);
	opacity:0.8;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 0 5% 0 10%;
	line-height: 38px;
}
.form-control:nth-of-type(2){
	margin-bottom: 10px;
}
.forget{
	width: 95%;
	text-align: right;
	margin-bottom: 10px;
}
#login-btn {
	width: 95%;
	height: 38px;
	background: #01bedc;
	color: #fff;
	font-size: 18px;
	border: none;
	margin-bottom: 10px;
	margin-top: 26px;
}

#user { background-image: url(../img/user.png);}

#pwd{ background-image: url(../img/pwd.png);}

#user,
#pwd{
	background-repeat: no-repeat;
	background-position: 3% center;	
}

:-moz-placeholder { color: #01bedc !important; }
	
::-moz-placeholder { color: #01bedc !important; }
	
input:-ms-input-placeholder{ color: #01bedc !important;}
	
input::-webkit-input-placeholder{ color: #01bedc !important;}
